#contcuads {
    display: flex;
    justify-content: space-around;
}

.cuadrado {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid grey;
    transition: 0.2s;
}

.subcuadrado {
    border: 1px solid grey;
    width: 50%;
    height: 50%;
    transition: 0.2s;
}

.on {
    background: #fadd61;
}

.sel *:hover {
    background: #fadd61;
}

.sel * {
    cursor: pointer;
}

.done {
    cursor: default;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.done div {
    color: white;
    text-align: center;
    font-size: 45px;
}
